<launch>
  <arg name="standalone" default="false" />


  <rosparam command="load" file="$(find omnibot_gazebo)/config/gazebo_pids.yaml" />
  <!-- 

  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.3" /> -->

  <!-- turtlebot3_house
  <arg name="x_pos" default="-4.0"/>
  <arg name="y_pos" default="4.50"/>
  <arg name="z_pos" default="0.040"/> -->

  <!-- turtlebot3_world -->
  <!-- <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0.040"/>  -->

  <!-- WilloGarage -->
  <!-- <arg name="x_pos" default="-17.0"/>
  <arg name="y_pos" default="-12.0"/>
  <arg name="z_pos" default="0.3"/> -->

  <!-- MyWorkShop -->
  <!-- <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.3"/> -->

  <!-- MyWorld -->
  <!-- <arg name="x_pos" default="-4.0"/>
  <arg name="y_pos" default="3.0"/>
  <arg name="z_pos" default="0.3"/> -->
  <!-- 
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-2.65"/>
  <arg name="z_pos" default="0.3"/> -->


  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="1.0" />
  <arg name="z_pos" default="0.3" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="$(arg standalone)" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />
    <arg name="verbose" value="false" />
    <!-- <arg name="world_name" value="$(find
    omnibot_gazebo)/worlds/turtlebot3_worlds/turtlebot3_house.world" /> -->
    <!-- <arg name="world_name" value="$(find
    omnibot_gazebo)/worlds/turtlebot3_worlds/turtlebot3_stage_3.world" /> -->
    <!-- <arg name="world_name" value="$(find
    omnibot_gazebo)/worlds/turtlebot3_worlds/turtlebot3_world.world" /> -->
    <!-- <arg name="world_name" value="$(find
    omnibot_gazebo)/worlds/WillowGarage/WillowGarage.world" /> -->
    <!-- <arg name="world_name" value="$(find omnibot_gazebo)/worlds/MyWorkShop/MyWorkShop.world" /> -->
    <!-- <arg name="world_name" value="$(find
    omnibot_gazebo)/worlds/QuickSilverWorld/quicksilver_world.world" /> -->
    <!-- <arg name="world_name" value="$(find
    omnibot_gazebo)/worlds/QuickSilverWorld/quicksilver_world_design1.world" /> -->
    <!-- <arg name="world_name" value="$(find omnibot_gazebo)/worlds/garage.world" /> -->
    <arg name="world_name" value="$(find omnibot_gazebo)/worlds/MyWorld/MyWorld.world" />

  </include>

  <group unless="$(arg standalone)">
    <node pkg="gazebo_ros" type="spawn_model" name="omnibot_model_spawner"
      args="-urdf -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y 1.57 -model omnibot_robot"
      respawn="false"
      output="screen" />
  </group>


</launch>