<?xml version="1.0"?>
<launch>
    <!-- <arg name="remote" default="true" /> -->
    <!-- <arg name="remote_pc_ip" default="192.168.10.101"/> -->
    <!-- <arg name="remote_pc_ip" default="192.168.0.103" /> -->


    <!-- <group if="$(eval arg('remote') == 'true'))"> -->
    <!-- <machine name="remote_pc" address="192.168.0.103" env-loader="/opt/ros/melodic/env.sh" user="ubuntu" password="ubuntu" /> -->
    <!-- <node machine="remote_pc" pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find omnibot_navigation)/rviz/omnibot_navigation.rviz" /> -->
    <!-- </group>     -->

    <!-- <group if="$(eval arg('remote') == 'false'))"> -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find omnibot_navigation)/rviz/omnibot_navigation.rviz" />    
    <!-- </group>     -->

</launch>