<?xml version="1.0"?>
<launch>


    <arg name="device_type_camera1" default="t265" />
    <arg name="device_type_camera2" default="d435" />
    <arg name="serial_no_camera1" default="" />
    <arg name="serial_no_camera2" default="" />
    <arg name="camera1" default="t265" />
    <arg name="camera2" default="d400" />
    <arg name="clip_distance" default="-2" />
    <arg name="use_rviz" default="false" />
    <arg name="use_rtabmapviz" default="false" />
    <arg name="localization"            default="false"/>
    <arg name="initial_pose"            default=""/>       

    <arg name="sim" default="false" />

    <group ns="rtabmap">
        <param name="use_action_for_goal" type="bool" value="true"/>
        <remap from="move_base"            to="/move_base"/>
    </group>

    
    <group unless="$(arg sim)">
        <include file="$(find omnibot_platform_navigation)/launch/rs_aligned_depth.launch">
            <arg name="camera"              value="$(arg camera2)"/>
        </include>

        <include file="$(find realsense2_camera)/launch/rs_t265.launch">
            <arg name="camera"              value="$(arg camera1)"/>
            <arg name="enable_sync"           value="true"/>
            <arg name="publish_odom_tf"     value="false"/>
        </include>
    </group>

    <group if="$(arg localization)">
        <!-- <include file="$(find omnibot_platform_navigation)/launch/load_map.launch" /> -->
        <!-- <include file="$(find omnibot_platform_navigation)/launch/localization.launch" />  -->
        <include file="$(find omnibot_platform_navigation)/launch/move_base.launch" />  
    </group>

    <include file="$(find omnibot_platform_navigation)/launch/rtabmap.launch" >
        <arg name="localization" value="$(arg localization)"/>
        <arg name="sim" value="$(arg sim)"/>
        
    </include>  
</launch>
