<?xml version="1.0"?>
<launch>


    <arg name="device_type_camera1" default="t265" />
    <arg name="device_type_camera2" default="d435" />
    <arg name="serial_no_camera1" default="" />
    <arg name="serial_no_camera2" default="" />
    <arg name="camera1" default="t265" />
    <arg name="camera2" default="d400" />
    <arg name="clip_distance" default="-2" />
    <arg name="use_rviz" default="false" />
    <arg name="use_rtabmapviz" default="false" />
    <arg name="localization"            default="false"/>
    <arg name="initial_pose"            default=""/>       

    <arg name="sim" default="false" />




    <group if="$(arg sim)">

    </group>

    <group ns="rtabmap">
        <param name="use_action_for_goal" type="bool" value="true"/>
        <remap from="move_base"            to="/move_base"/>
    </group>

    
    <group unless="$(arg sim)">
        <!-- <include file="$(find realsense2_camera)/launch/rs_d400_and_t265.launch">
            <arg name="device_type_camera1" value="$(arg device_type_camera1)" />
            <arg name="device_type_camera2" value="$(arg device_type_camera2)" />
            <arg name="camera1" value="$(arg camera1)" />
            <arg name="camera2" value="$(arg camera2)" />
            <arg name="clip_distance" value="$(arg clip_distance)" />
        </include> -->

        <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
            <arg name="camera"              value="$(arg camera2)"/>
        </include>

        <include file="$(find realsense2_camera)/launch/rs_t265.launch">
            <arg name="camera"              value="$(arg camera1)"/>
            <arg name="enable_sync"           value="true"/>
        </include>


        <!-- <node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="0 0 0 0 0 0 /$(arg camera1)_link /$(arg camera2)_link 100"/> -->
    </group>

   
    <param name="/rtabmap/rtabmap/Rtabmap/DetectionRate" value="20.0"/>
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args" value="--delete_db_on_start" />
        
        <arg name="depth_topic" value="/$(arg camera2)/aligned_depth_to_color/image_raw" />
        <arg name="frame_id" value="base_link" />
        <arg name="visual_odometry" value="false" />
        <arg name="odom_topic" value="/odom" />
        <arg name="rgb_topic" value="/$(arg camera2)/color/image_raw" />
        <arg name="camera_info_topic" value="/$(arg camera2)/color/camera_info" />
        <arg name="queue_size" value="200" />

        <arg name="localization"            default="$(arg localization)"/>
        <arg name="initial_pose"            default="$(arg initial_pose)"/>        
        <arg name="rviz" value="$(arg use_rviz)" />
        <arg name="rtabmapviz" value="$(arg use_rtabmapviz)" />
        <arg name="odom_frame_id" value="odom" />
        <arg name="map_frame_id" value="map" />
        <arg name="rviz_cfg" value="$(find omnibot_platform_navigation)/rviz/rtab_cfg2.rviz" />


        <!-- RTAB-Map's parameters -->
        <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
        <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
        <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>

        <param name="Rtabmap/StartNewMapOnLoopClosure" value="true"/> 

        <param name="Reg/Force3DoF"    value="true" />

        <param name="Vis/MaxDepth" type="string" value="3.5"/>
        <param name="Grid/MaxGroundHeight" value="0.1"/>
        <param name="Grid/MaxObstacleHeight" value="0.2"/>
        <param name="Grid/CellSize" value="0.025" />
 
        <param name="cloud_noise_filtering_radius" value="0.05" />
        <param name="cloud_noise_filtering_min_neighbors" value="2" />
       
   
        <param name="Optimizer/Strategy" type="string" value="1" />
        <param name="Optimizer/Robust" type="string" value="true" />
        <param name="RGBD/OptimizeMaxError" type="int" value="10" />
        <param name="Mem/IncrementalMemory" type="bool" value="true"/>
   
    </include>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->

        
        <!-- <param name="base_global_planner" value="global_planner/RRTGlobalPlanner"/>  -->

        <rosparam file="$(find omnibot_platform_navigation)/config/navfn_global_planner_params.yaml"  command="load" />
        <rosparam file="$(find omnibot_platform_navigation)/config/rrt_global_planner.yaml"         command="load" />
        <rosparam file="$(find omnibot_platform_navigation)/config/dwa_local_planner_params.yaml"   command="load" />
        
        <rosparam file="$(find omnibot_platform_navigation)/config/costmap_common_params.yaml"      command="load" ns="global_costmap" /> 
        <rosparam file="$(find omnibot_platform_navigation)/config/costmap_common_params.yaml"      command="load" ns="local_costmap" />
        <rosparam file="$(find omnibot_platform_navigation)/config/local_costmap_params.yaml"       command="load" />
        <rosparam file="$(find omnibot_platform_navigation)/config/global_costmap_params.yaml"      command="load" /> 
        <rosparam file="$(find omnibot_platform_navigation)/config/base_local_planner_params.yaml"  command="load" />


        <rosparam file="$(find omnibot_platform_navigation)/config/teb_local_planner_params.yaml"   command="load" />

        <param name="controller_frequency" value="10.0"/>
        <remap from="/cmd_vel" to="/omnibot_robot/cmd_vel"/>
     </node>
    
</launch>
