<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibot_robot">
    <xacro:arg name="use_manipulator" default="false" />
    <xacro:arg name="robot_namespace" default="omnibot_robot" />
    <xacro:property name="ns" value="$(arg robot_namespace)" />
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="left_front_mecanum_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="right_front_mecanum_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="left_back_mecanum_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="right_back_mecanum_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </ros2_control>
    <gazebo>
        <!-- Joint state publisher -->
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find omnibot_platform_control)/config/controller_manager.yaml</parameters>
        </plugin>
    </gazebo>


    <xacro:include filename="$(find omnibot_platform_description)/urdf/omnibot_platform.urdf.xacro" />

    <xacro:if value="$(arg use_manipulator)">

        <xacro:include
            filename="$(find omnibot_manipulator_description)/urdf/omnibot_manipulator.urdf.xacro" />

        <joint name="manipulator_connector" type="fixed">
            <parent link="base_footprint" />
            <child link="ang_link0" />
            <origin xyz="0.096 0.0  0.113" rpy="0.0 0.0 1.57" />
        </joint>
    </xacro:if>


</robot>