<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibot_robot">

    <xacro:arg name="use_manipulator" default="false"/>
    
    <xacro:include filename="$(find omnibot_platform_description)/urdf/omnibot_platform.urdf.xacro" />


    <xacro:if value="$(arg use_manipulator)">
        <xacro:arg name="work_mode" default="notest" />
    <xacro:include filename="$(find omnibot_manipulator_description)/urdf/omnibot_manipulator.urdf.xacro"/>

    <joint name="manipulator_connector" type="fixed">
        <parent link="base_link" />
        <child link="ang_link0" />
        <origin xyz="0.096 0.0  0.113" rpy="0.0 0.0 0.0" />
    </joint>
    </xacro:if>
    


</robot>