<?xml version="1.0"?>
<robot name="omnibot_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find omnibot_manipulator)/urdf/angle_arm.urdf"/>
    <xacro:include filename="$(find omnibot_platform)/urdf/platform.urdf.xacro"/>
    <joint name="manip2platform_connector" type="fixed">
        <parent link="base_link"/>
        <child link="ang_link0"/>
        <origin xyz="0.0 0.096 0.113" rpy="0.0 0.0 3.14"/>
    </joint>
</robot>