<launch>

    <arg name="gui" default="true" />
    <param name="platform_description" command="xacro --inorder $(find omnibot_platform)/urdf/platform.urdf" />
  
    
    <group if="$(arg gui)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find omnibot_platform)/rviz/rviz.rviz" />
      <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->
    </group>
<!--   
    <group if="$(eval arg('gui') == 'off')">
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group> -->
  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </launch>