<?xml version="1.0"?>
<launch>
    <arg name="hw_connection" default="false"/>
    
    <param name="omnibot_manipulator_control_node_config"
        value="$(find omnibot_manipulator_control)/config/omnibot_manipulator_controller_config.yaml" />

    <node pkg="omnibot_manipulator_control" type="omnibot_manipulator_control_node" name="omnibot_manipulator_control_node"
        output="screen">
        <param name="hw_connection" value="$(arg hw_connection)"/>
    </node>

</launch>