<?xml version="1.0"?>
<launch>
    <rosparam file="$(find omnibot_manipulator_control)/config/config.yaml" command="load" />
    
    <node name="controller_spawner_angle" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"
        ns="omnibot_manipulator"
        args="
      angle_joint1_controller 
      angle_joint2_controller 
      angle_joint3_controller 
      angle_joint4_controller 
      angle_joint5_controller 
      angle_gripper_controller 
      angle_gripper_sub_controller" />


</launch>