<?xml version="1.0"?>
<launch>
    <include file="$(find omnibot_manipulator_hw_controller)/launch/dynamixel.launch">
        <arg name="usb_port" default="/dev/ttyACM0" />
        <arg name="dxl_baud_rate" default="1000000" />
        <arg name="namespace" default="dynamixel_contoller" />
    </include>

    
    <node pkg="omnibot_manipulator_hw_controller" type="omnibot_manipulator_hw_controller_node"
        name="omnibot_manipulator_hw_controller_node" output="screen">
        <param name="input_joint_states_topic_name" value="/dynamixel_contoller/joint_states" />
        <param name="output_joint_states_topic_name"
            value="/omnibot_robot/manipulator_joint_states_corrected" />
    </node>
</launch>