<launch>
    <arg name="driver_type" default="simple" />
    <arg name="driver_connection" default="off" />

    <rosparam command="load" file="$(find omnibot_driver)/config/driver_config.yaml" />

    <group if="$(eval arg('driver_connection') == 'on')">
        <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
            <param name="port" type="string" value="/dev/ttyACM0" />
            <param name="baud" type="int" value="115200" />
        </node>
    </group>

    <group if="$(eval arg('driver_type') == 'simple')">
        <node name="simple_driver_node" pkg="omnibot_driver" type="simple_driver.py" output="screen"></node>

    </group>
    <group if="$(eval arg('driver_type') == 'complex')">
        <node name="complex_driver_node" pkg="omnibot_driver" type="simple_driver.py" output="screen" />
    </group>

</launch>