<launch>
    <param name="robot_description" textfile="$(find omnibot_description)/urdf/omni_bot.urdf" />
    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find omnibot_description)/config/rviz.rviz" required="true" />


    <node pkg="tf" type="static_transform_publisher" name="map2base_link" args="0 0 0 0 0 0 1 map base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="fl_wheel2base_link" args="-0.2355 -0.150 0.05 0 0 0 1 base_link fl_wheel_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="fr_wheel2base_link" args="-0.2355 0.1500 0.05 0 0 0 1 base_link fr_wheel_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="rl_wheel2base_link" args=" 0.2355 -0.150 0.05 0 0 0 1 base_link rl_wheel_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="rr_wheel2base_link" args=" 0.2355 0.1500 0.05 0 0 0 1 base_link rr_wheel_link 100" />

</launch>