<meta charset="utf-8" />


<script type="text/javascript" type="text/javascript">
    function init_map_view() {
        var viewer2D = new ROS2D.Viewer({
            divID: 'map',
            width: 800,
            height: 800
        });

        var gridClient = new ROS2D.OccupancyGridClient({
            ros: ros,
            rootObject: viewer2D.scene,
        });
        // Scale the canvas to fit to the map
        gridClient.on('change', function () {
            viewer2D.scaleToDimensions(gridClient.currentGrid.width, gridClient.currentGrid.height);
            viewer2D.shift(gridClient.currentGrid.pose.position.x, gridClient.currentGrid.pose.position.y);
            displayPoseMarker();
        });


        function displayPoseMarker() {
            // Create a marker representing the robot.
            var robotMarker = new ROS2D.NavigationArrow({
                size: 0.4,
                strokeSize: 0.02,
                fillColor: createjs.Graphics.getRGB(255, 0, 0, 0.66),
                pulse: false
            });
            robotMarker.visible = true;

            // Add the marker to the 2D scene.
            gridClient.rootObject.addChild(robotMarker);
            var initScaleSet = true;

            // Subscribe to the robot's pose updates.
            var poseListener = new ROSLIB.Topic({
                ros: ros,
                name: '/rtabmap/localization_pose',
                messageType: 'geometry_msgs/PoseWithCovarianceStamped',
                throttle_rate: 100
            });
            poseListener.subscribe(function (pose) {
                // Orientate the marker based on the robot's pose.
                robotMarker.x = pose.pose.pose.position.x;
                robotMarker.y = -pose.pose.pose.position.y;
                if (!initScaleSet) {
                    robotMarker.scaleX = 1.0 / viewer2D.scene.scaleX;
                    robotMarker.scaleY = 1.0 / viewer2D.scene.scaleY;
                    initScaleSet = true;
                }
                robotMarker.rotation = viewer2D.scene.rosQuaternionToGlobalTheta(pose.pose.pose.orientation);
                robotMarker.visible = true;
            });
        }
    }

    $(document).ready(() => {
        init_map_view();
    });

</script>


<h1>Simple Map Example</h1>
<div id="map"></div>