<?xml version="1.0"?>
<launch>
    <!--  -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

    <!--  -->
    <arg name="use_manipulator" default="true" />
    <arg name="rviz" default="true" />
    <arg name="rtabmap_viz" default="false" />

    <arg name="localization" default="false" />


    <!--  -->
    <include file="$(find omnibot_description)/launch/load_description.launch">
        <arg name="gui" value="false" />
        <arg name="rviz" value="false" />
        <arg name="manipulator" value="$(arg use_manipulator)" />
    </include>

    <!--  -->
    <include file="$(find omnibot_control)/launch/omnibot_control.launch" />

    <!--  -->
    <include file="$(find omnibot_platform_control)/launch/omnibot_platform_contol.launch">
        <arg name="namespace" value="omnibot_robot" />
    </include>

    <!--  -->
    <include file="$(find omnibot_platform_drv)/launch/omnibot_platform_drv.launch" />

    <!--  -->
    <include file="$(find sensor_odom_manager)/launch/sensor_odom_manager.launch" />

    <!--  -->
    <group if="$(arg use_manipulator)">
        <include
            file="$(find omnibot_manipulator_bringup)/launch/omnibot_manipulator_bringup.launch">
            <arg name="sim" value="true" />
            <arg name="use_rviz" value="false"/>
        </include>
    </group>


    <include file="$(find omnibot_core)/launch/omnibot_core.launch" />

    <!--  -->
    <group if="$(arg rviz)">
        <include file="$(find omnibot_bringup)/launch/rviz.launch" />
    </group>

    <group if="$(arg rtabmap_viz)">
        <include file="$(find omnibot_bringup)/launch/rtabmap_viz.launch" />
    </group>

    <!--  -->
    <include file="$(find omnibot_gazebo)/launch/omnibot_gazebo.launch">
        <arg name="aruco_cubes_spawn" value="true"/>
    </include>

    <!--  -->
    <group if="$(arg localization)">
        <!-- <include file="$(find omnibot_platform_navigation)/launch/load_map.launch"/>   -->
    </group>

    <!--  -->
    <include file="$(find omnibot_platform_navigation)/launch/omnibot_platform_navigation.launch">
        <arg name="sim" value="true" />
        <arg name="localization" value="$(arg localization)" />
        <arg name="initial_pose" value="" />
    </include>

    <!-- START ROS WEB BRIDGE -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>