<?xml version="1.0"?>
<launch>

    <arg name="sim" default="false"/>
    
    <group if="$(arg sim)">
        <include file="$(find omnibot_bringup)/launch/omnibot_sim.launch"/>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find omnibot_bringup)/launch/omnibot_real.launch"/>
    </group>

</launch>