<?xml version="1.0"?>
<launch>

    <arg name="rviz" default="false"/>
    <arg name="gui" default="false"/>
    
    
    <param name="robot_description" command="xacro --inorder $(find omnibot_platform_description)/urdf/omnibot_platform.urdf.xacro" />

    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find omnibot_platform_description)/config/rviz.rviz "/> 
        <!-- <node pkg="tf" type="static_transform_publisher" name="map2base_link" args="0.0 0.0 0.05 0.0 0.0 0.0 /map /base_link 100"/>    -->
    </group>


    <group if="$(arg gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    </group>
    
    <group unless="$(arg gui)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
    </group>


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="tf" type="static_transform_publisher" name="map2base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /base_link 100"/>   
    

</launch>