<launch>
  <arg name="rviz" default="false" />
  <arg name="gui" default="false" />
  <arg name="standalone_load" default="true"/>
  
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder $(find omnibot_manipulator_description)/urdf/omnibot_manipulator.urdf.xacro 
      standalone_load:=$(arg standalone_load) 
      robot_namespace:=omnibot_manipulator" />


    <group if="$(arg rviz)">
      <node name="rviz" pkg="rviz" type="rviz" output="screen"
        args="-d $(find omnibot_manipulator_description)/rviz/rviz.rviz " />
      <node pkg="tf" type="static_transform_publisher" name="map2ang_link0"
        args="0.0 0.0 0.01 0.0 0.0 0.0 /map /world 100" />
    </group>


    <group if="$(arg gui)">
      <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui" />
    </group>

    <group unless="$(arg gui)">
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" value="100" />
      <param name="use_tf_static" value="false" />
    </node>


</launch>