<?xml version="1.0"?>
<launch>
    <arg name="workmode" default="request" doc="Moving manipulator by request (request)/ by changing position (position)"/>
    <param name="omnibot_manipulator_teleop_config_path" value="$(find omnibot_manipulator_teleop)/config/config.yaml"/>
    <node name="omnibot_manipulator_teleop" pkg="omnibot_manipulator_teleop" type="omnibot_manipulator_teleop_node" output="screen">
        <arg name="workmode" value="$(arg workmode)"/>
    </node>
    

</launch>